---
import CardLocation from "../components/CardLocation.astro";
import EmptyData from "../components/ui/EmptyData.astro";
import Error from "../components/ui/Error.astro";
import Loader from "../components/ui/Loader.astro";
import HeroDetails from "../components/HeroDetails.astro";
import Layout from "../layouts/Layout.astro";
import type { locationsDataAPI } from "../types/interfaces";
import { getLocations } from "../services/getLocations";

const locationsData: locationsDataAPI[] | null = await getLocations();
let action = '';

console.log(locationsData);

if (!locationsData) {
  action = "error";
} else if (locationsData?.length === 0) {
  action = "empty";
} else if (locationsData?.length > 0) {
  action = "data";
}
---

<Layout title="Peliculas">
  <HeroDetails
    pageTitle="Películas"
    detailsTitle="Historias que trascienden el tiempo"
    detailsDescription="Las películas de Studio Ghibli son mucho más que animación: son relatos profundamente humanos envueltos en mundos de fantasía, naturaleza viva y emoción pura. Cada filme combina arte, música y narrativa para crear experiencias que conectan generaciones. En esta sección exploramos las obras que han dado forma a la magia de Ghibli en la pantalla."
    imgSrc="/img/hero-films.webp"
  />

  <section class={`g-container-85 py-[30px] md:flex flex-wrap gap-3`}>
    
    {action == "error" && <Error />}
    {action == "empty" && <EmptyData />}
    {action == "data" && <CardLocation locationsData={locationsData!} />}
  </section>
</Layout>
