---
import CardFilm from "../components/CardFilm.astro";
import EmptyData from "../components/ui/EmptyData.astro";
import Error from "../components/ui/Error.astro";
import HeroDetails from "../components/HeroDetails.astro";
import Layout from "../layouts/Layout.astro";
import type { FilmDataAPI } from "../types/interfaces";
import { getFilms } from "../services/getFilms";

let filmsData: FilmDataAPI[] | null = await getFilms();
let action = "";



if (!filmsData) {
  action = "error";
} else if (filmsData?.length === 0) {
  action = "empty";
} else if (filmsData?.length > 0) {
  action = "data";

}


---

<Layout title="Peliculas">
  <HeroDetails
    pageTitle="Películas"
    detailsTitle="Historias que trascienden el tiempo"
    detailsDescription="Las películas de Studio Ghibli son mucho más que animación: son relatos profundamente humanos envueltos en mundos de fantasía, naturaleza viva y emoción pura. Cada filme combina arte, música y narrativa para crear experiencias que conectan generaciones. En esta sección exploramos las obras que han dado forma a la magia de Ghibli en la pantalla."
    imgSrc="/img/hero-films.webp"
  />

  <section class={`g-container-85 py-[30px]  md:flex md:flex-wrap gap-3 xl:gap-[15px]`}>
    {action == "error" && <Error />}
    {action == "empty" && <EmptyData />}
    {action == "data" && <CardFilm filmsData={filmsData!} />}
  </section>
</Layout>
