---
import CardFilm from "../components/CardFilm.astro";
import EmptyData from "../components/ui/EmptyData.astro";
import Error from "../components/ui/Error.astro";
import HeroDetails from "../components/HeroDetails.astro";
import Layout from "../layouts/Layout.astro";
import type { FilmDataAPI } from "../types/interfaces";
import { getFilms, getFilmByUrl } from "../services/getFilms";

let filmsData: FilmDataAPI[] | null = await getFilms();
let action = "data";



if (!filmsData) {
  action = "error";
} else if (filmsData?.length === 0) {
  action = "empty";
} else if (filmsData?.length > 0) {
  action = "data";
  // filmsData = filmsData.map(async (film):Promise<FilmDataAPI[]> => {
  //   const filmImage = await getFilmByUrl(film.url);
  //   return {
  //     ...film,
  //     description: filmImage?.description || film.description,
  //     image: filmImage?.image || "",
  //   };
  // })

}

// const filmsData = [
//   {
//     id: "2baf70d1-42bb-4437-b551-e5fed5a87abe",
//     title: "Castle in the Sky",
//     original_title: "天空の城ラピュタ",
//     original_title_romanised: "Tenkū no shiro Rapyuta",
//     description:
//       "The orphan Sheeta inherited a mysterious crystal that links her to the mythical sky-kingdom of Laputa. With the help of resourceful Pazu and a rollicking band of sky pirates, she makes her way to the ruins of the once-great civilization. Sheeta and Pazu must outwit the evil Muska, who plans to use Laputa's science to make himself ruler of the world.",
//     director: "Hayao Miyazaki",
//     producer: "Isao Takahata",
//     release_date: "1986",
//     running_time: "124",
//     rt_score: "95",
//     people: [],
//     species: [],
//     locations: [],
//     vehicles: [],
//     url: "https://ghibliapi.vercel.app/films/2baf70d1-42bb-4437-b551-e5fed5a87abe",
//   },
//   {
//     id: "12cfb892-aac0-4c5b-94af-521852e46d6a",
//     title: "Grave of the Fireflies",
//     original_title: "火垂るの墓",
//     original_title_romanised: "Hotaru no haka",
//     description:
//       "In the latter part of World War II, a boy and his sister, orphaned when their mother is killed in the firebombing of Tokyo, are left to survive on their own in what remains of civilian life in Japan. The plot follows this boy and his sister as they do their best to survive in the Japanese countryside, battling hunger, prejudice, and pride in their own quiet, personal battle.",
//     director: "Isao Takahata",
//     producer: "Toru Hara",
//     release_date: "1988",
//     running_time: "89",
//     rt_score: "97",
//     people: [],
//     species: [],
//     locations: [],
//     vehicles: [],
//     url: "https://ghibliapi.vercel.app/films/12cfb892-aac0-4c5b-94af-521852e46d6a",
//   },
//   {
//     id: "12cfb892-aac0-4c5b-94af-521852e46d6a",
//     title: "Grave of the Fireflies",
//     original_title: "火垂るの墓",
//     original_title_romanised: "Hotaru no haka",
//     description:
//       "In the latter part of World War II, a boy and his sister, orphaned when their mother is killed in the firebombing of Tokyo, are left to survive on their own in what remains of civilian life in Japan. The plot follows this boy and his sister as they do their best to survive in the Japanese countryside, battling hunger, prejudice, and pride in their own quiet, personal battle.",
//     director: "Isao Takahata",
//     producer: "Toru Hara",
//     release_date: "1988",
//     running_time: "89",
//     rt_score: "97",
//     people: [],
//     species: [],
//     locations: [],
//     vehicles: [],
//     url: "https://ghibliapi.vercel.app/films/12cfb892-aac0-4c5b-94af-521852e46d6a",
//   }
// ] as FilmDataAPI[];
---

<Layout title="Peliculas">
  <HeroDetails
    pageTitle="Películas"
    detailsTitle="Historias que trascienden el tiempo"
    detailsDescription="Las películas de Studio Ghibli son mucho más que animación: son relatos profundamente humanos envueltos en mundos de fantasía, naturaleza viva y emoción pura. Cada filme combina arte, música y narrativa para crear experiencias que conectan generaciones. En esta sección exploramos las obras que han dado forma a la magia de Ghibli en la pantalla."
    imgSrc="/img/hero-films.webp"
  />

  <section class={`g-container-85 py-[30px]  md:flex md:flex-wrap gap-3`}>
    {action == "error" && <Error />}
    {action == "empty" && <EmptyData />}
    {action == "data" && <CardFilm filmsData={filmsData!} />}
  </section>
</Layout>
