---
---

<footer class={`g-bg-dark-full `}>
    <div>
        <section class="g-container-85 g-text-fifth g-font-size-16 g-font-weight-500 py-[30px] ">
            <div class="md:flex justify-between items-center">
                <p class="text-center md:text-start">Astro - Carlos Trinidad 2025.</p>
                <p class="text-center md:text-start"><a href="https://ghibliapi.vercel.app/">Studio Ghibli API</a></p>
                
                <ul class="md:flex gap-4 text-center md:text-end mt-5 md:mt-0">
                    <li><a href="/" class="">Privacy Policy</a></li>
                    <li><a href="/" class="">Terms of Service</a></li>
                </ul>
            </div>
        </section>
    </div>
</footer>