---
---

<section class={`g-container-85`}>
    <div class={``}>
        <h2 class="text-center text-2xl font-bold mb-6">Ah ocurrido un error</h2>
        <p class="text-center text-gray-600">Lo sentimos, inténtelo más tarde.</p>
    </div>
    <div class={`w-[50%] lg:w-[20%] mx-auto`}>
        <img src="/img/error.png" alt="No data available" class="mx-auto mt-4 w-1/2" />
    </div>
</section>